/*Reset for normalize  */
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img{
  /* max-width: 100%; */
  height: auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

a {
  color: inherit;
  outline: 0;
}

a:active, a:focus, a:hover, a:visited, a:link {
  outline: 0;
    text-decoration: none;
}

/* Base for the proyect itself */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3d3d3d;
  display: flex;
  height: 100vh;
}

#navbar{
  border-right: 2px solid #2c2c2c;
  width: 350px;
}

#navbar header {
  padding: 8px 16px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #2c2c2c;
  font-weight: bold;
}

#navbar ul {
  overflow: scroll;
  overflow: scroll;
  height: calc(100% - 56px);
}

#navbar ul li {
  padding: 16px;
  border-top: 1px solid #2c2c2c;
}

#main-doc{
  flex: 1;
  overflow: scroll;
  padding: 48px;
}

.main-section {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1500px) {
  .main-section {
    columns: 2;
  }
}

.main-section header{
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}

.main-section p{
  font-size: 16px;
  margin-bottom: 24px;
}

.main-section ul{
  padding-left: 48px;
  list-style: initial;
  margin-bottom: 24px;
}

.main-section ul li{
  margin-bottom: 12px;
}

.main-section ul a{
  color: blue;
}

.main-section .code {
  background-color: #f0f0f0;
  margin: 0 0 16px 24px;
  border-radius: 5px;
  padding: 24px;
  padding-bottom: 18px;
}
.main-section .code code {
  margin-bottom: 10px;
  display: block;
}
